html,
body,
#app {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    .setDefaultStyle()
}

.color-style() {
    @primary : yellow;
    .primary {
        background: yellow
    }
    .primary-color {
        background: yellow
    }
}

.page-style() {
    .page {
        min-width: 100%;
        min-height: 100%;
        background: white;
        border: 1px solid #DDDDDD;
        overflow: auto;
        padding: 5px;
    }
}

// 默认按钮样式
.button-style() {
    .van-button {
        &.full-radius {
            border-radius: 75%;
        }
        &.small-radius {
            border-radius: 25%;
        }
    }
}

// 默认文本样式
.text-style() {
    .ex-large {
        font-size: 24px;
    }
    .large {
        font-size: 18px;
    }
    .normal {
        font-size: 14px;
    }
    .small {
        font-size: 12px;
    }
    .ex-small {
        font-size: 10px;
    }
}

// 默认样式
.setDefaultStyle() {
    .page-style();
    .text-style();
    .button-style();
}